<p>signup works!</p>

    <div class="modal-content">

   
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label ><b>Email</b></label>
      <input [(ngModel)]="name" type="text" placeholder="Enter Email" required>

      <label ><b>Password</b></label>
      <input [(ngModel)]="password" type="password" placeholder="Enter Password" required>
      <p>Have you already a account ? <a href="#" style="color:dodgerblue">LOg-in</a>.</p>

      <div class="clearfix">
        <button (click)="signup()"  class="signupbtn">Sign Up</button>
      </div>
    </div>
</div>